.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 70vh;
  padding-top: 2rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 280px;
}

.login-form input {
  padding: 10px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
}

.login-form button {
  padding: 10px;
  background-color: #2563eb;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #1d4ed8;
}
